body {
      background-image:url("https://wallpapers.com/images/hd/4k-earth-golden-sunrise-4co6o4qai1oplq17.jpg");  
         
      
      font-family: sans-serif;
   /*  reset the default spacing around and inside elements */
    margin: 0;
    padding: 0;
    color: #333;
}
footer{
    font-weight: bolder;
    text-align:center;
    text-shadow: 3px 6px 20px  #76cdf1 , 1px 1px 6px rgb(2, 49, 235);
    color: black;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    padding: 20px;
    background: #c5c7c8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(212, 208, 208, 0.1);
    text-align: center;
   }

h1 {
    font-size: 3rem;
    color:rgb(7, 8, 8);
    text-shadow: 3px 6px 20px  #57cdf1 , 1px 1px 6px rgb(2, 49, 235);
     margin-bottom: 40px;
text-align: center;
       
    
}

.input-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    margin-right: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    /* when the background-color of the element changes,
     the transition effect will take 0.1 seconds (100 milliseconds) to complete. */
    transition: background-color 0.1s, transform 0.2s;

    margin: 10px;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    transform: scale(0.98);
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.location-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    text-align: left;
}

.location-details h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 15px;
}

.location-details p {
    font-size: 16px;
    margin: 5px 0;
}

.location-details strong {
    color: #3498db;
}


    /* @keyframes blink: Defines the animation named blink. */
    @keyframes blink {
        0% {
            opacity: 1; 
            /* fully visible */
        }
        50% {
            opacity: 0;
             /* partially visible */
        }
        100% {
            opacity: 1;
             /* fully visible */
        }
    }
.blink-text.error-message {
    color: red;
    animation: blink 1s 3; /* animation name , duration , repetition count  */
   display: none;  /* Hide by default */

   text-align:left;
   margin-left:34px;
   font-size: 15px;
   margin-top: 5px;
}
